*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #548654;
  text-align: center;
}
.container{
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow:0 0 1rem rgb(48, 2, 2) ;
  font-size: 8vmin;
  color: brown;
  background-color: rgb(0, 2, 5);
}
#reset{
  padding: 1rem;
  font-size: 1.24rem;
  background-color: rgb(54, 209, 230);
}
#newGame{
padding: 1rem;
font-size: 1.24rem;
background-color:rgb(54,209,230) ;
}
#msg{
   color: aquamarine;
   font-size: 8vmin;
}
.msg-container{
  height: 10vmin;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hide{
  display: none;
}